{% block content %}
<!-- <script type=text/javascript src="{{ url_for('static', filename='chosen.jquery.min.js') }}"></script> -->


<ul class="nav nav-tabs" id="myTab" role="tablist">
	
	{% for modulo in kapps_modules if modulo.estado==0: %}
	<li class="nav-item" role="presentation">
	  <button class="nav-link {% if modulo.numreg==0:%}active{% endif %}" id="modulo-{{modulo.id_modulo}}" data-bs-toggle="tab" data-bs-target="#tab-{{modulo.id_modulo}}" type="button" role="tab" aria-controls="tab-{{modulo.id_modulo}}" aria-selected="false">{{modulo.name}}</button>
	</li>
	{% endfor %}
</ul>

  <div class="tab-content" id="myTabContent">
	{% for modulo in kapps_modules if modulo.estado==0: %}
	<div class="tab-pane fade {% if modulo.numreg==0:%}show active{% endif %}" id="tab-{{modulo.id_modulo}}" role="tabpanel" aria-labelledby="modulo-{{modulo.id_modulo}}" tabindex="0">{{modulo.description}}</div>
	{% endfor %}
  </div>


{% endblock %}