{% block content %}
<!-- <script type=text/javascript src="{{ url_for('static', filename='chosen.jquery.min.js') }}"></script> -->


<!-- AVISO DE MOROSIDAD -->
{% if kapps_morosas >0: %}
<div style="position: relative; top: 0; right: 0;">
	<div id="toastPago" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
		<div class="toast-header">
			<img font-color="white" src="{{ url_for('static', filename='icons_svg/alerta.svg') }}" alt="Inicio"
				width="30" height="30" title="Inicio">
			<strong class="mr-auto text-danger">&MediumSpace;
				Cuentas Morosas
			</strong>
		</div>
		<div class="toast-body text-danger" style="font-size:0.85rem;">
			{% for kapp in kapps_info if kapp['DIAS ATRASO']>=0 and kapp['ESTADO']!='INACTIVE': %}
			{{kapp['NOMBRE']}} [{{kapp['ID KAPP']}}] (Último Pago:
			{{kapp['ULTIMOPAGO_YEAR']}}-{{kapp['ULTIMOPAGO_MES']}})<br>
			{% endfor %}
		</div>
	</div>
</div>

{% endif %}

<table class="table table-light table-striped table-bordered table-hover border-primary table-responsive ">
	<thead class="bg-primary align-middle">
		<tr style="text-align: center;color: rgb(255, 255, 255);">
			{% for col in columnas if col not in ['ULTIMOPAGO_MES','ULTIMOPAGO_YEAR']: %}
			<th scope="col" class="p-1 mx-1">
				<p class="p-0 m-0">{{ col }}</p>
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<!--Ciclo KAPPs Activas/Suspendidas-->
		{% for rmov in kapps_info: %}
		<tr class="border p-0 m-0 align-middle
						{% if rmov['ESTADO']=='BLOCKED': %} alert-warning
						{% elif rmov['DIAS ATRASO']>=1: %} alert-danger
						{% endif %} " style="font-size:0.9rem;color:midnightblue;">
			<td class="p-1 m-0">
				<p class="p-0 m-0">{{ rmov['ID KAPP'] }}</p>
			</td>
			<td class="p-1 m-0">
				<p class="p-0 m-0">
					{{ rmov['CLAVE'] }}</p>
			</td>
			<td class="p-1 m-0">
				<input class="form-control form-control-md" type="input" id="kapp-{{rmov['ID KAPP']}}-nombre"
					style="font-size:0.75rem;height:1.7rem;" disabled value="{{rmov['NOMBRE']}}">
			</td>
			<td class="p-1 m-0">
				<p class="p-0 m-0">
					<select name="kapp-{{rmov['ID KAPP']}}-estado" id="kapp-{{rmov['ID KAPP']}}-estado"
						class="form-control chosen-select mx-0 px-0" disabled>
						<option value="" disabled>Selecione el Estado</option>
						<option value="ACTIVE">Activa</option>
						<option value="INACTIVE">Desactiva</option>
						<option value="BLOCKED">Suspendida</option>
					</select>
					<script>
						document.getElementById('kapp-{{rmov["ID KAPP"]}}-estado').selectedIndex = {% if rmov['ESTADO']=='INACTIVE' %}2{% elif rmov['ESTADO']=='ACTIVE' %}1{% elif rmov['ESTADO']=='BLOCKED' %}3{% endif %}
					</script>
				</p>
			</td>
			<td class="p-1 m-0">
				<input class="form-control form-control-sm" type="date" id="kapp-{{rmov['ID KAPP']}}-fecha-cobro"
					style="font-size:0.75rem;height:1.7rem;" disabled value="{{rmov['FECHA COBRO']}}">
			</td>
			<td class="p-1 m-0">
				<p class="p-0 m-0">
					{{ rmov['DIAS ATRASO'] }}</p>
			</td>
			<td class="p-1 m-0">
				<input class="form-control form-control-sm" type="input" id="kapp-{{rmov['ID KAPP']}}-licencias"
					style="font-size:0.75rem;height:1.7rem;" placeholder="..." disabled value="{{rmov['LICENCIAS']}}">
			</td>
			<td class="p-1 m-0">
				<input class="form-control form-control-sm" type="input" id="kapp-{{rmov['ID KAPP']}}-vencimiento"
					style="font-size:0.75rem;height:1.7rem;" placeholder="..." disabled
					value="{{rmov['DIAS VENCIMIENTO']}}">
			</td>
			<td class="p-1 m-0">
				<p class="p-0 m-0">
					{{ rmov['CUENTAS ACTIVAS'] }}</p>
			</td>

			<td class="p-1 m-0" style="border-color: white;">
				<p class="p-0 m-0">
					{{ rmov['CONF'] }}</p>
			</td>

			<td class="p-0 m-0" style="border: none;">


				<!--EDITAR KAPP    -->
				<div id="kapp-{{rmov['ID KAPP']}}-div-editar" class="col py-1">
					<button id="btn-editar-kapp" name="btn-editar-kapp" type="submit" class="btnEditarKapp btn btn-primary p-0 m-0"
						style="width:1.8rem;height:1.8rem;" data-kapp-id="{{rmov['ID KAPP']}}">
						<img src="{{ url_for('static', filename='icons_svg/edit1.svg') }}" alt="Editar"
							class="img inline p-0 m-0" style="width:1.7rem;height:1.3rem;" title="Editar">
					</button>
				</div>
				<!--GUARDAR KAPP -->
				<div id="kapp-{{rmov['ID KAPP']}}-div-guardar" class="col py-1" hidden>
					<button id="btn-guardar-kapp" name="btn-guardar-kapp" type="submit" class="btnGuardarKapp btn btn-warning p-0 m-0"
						style="width:1.8rem;height:1.8rem;" data-kapp-id="{{rmov['ID KAPP']}}">
						<img src="{{ url_for('static', filename='icons_svg/update1.svg') }}" alt="Guardar"
							class="img inline p-0 m-0" style="width:1.7rem;height:1.3rem;" title="Guardar">
					</button>
				</div>

				<!-- REGISTRAR PAGO -->
				<div class="col py-1">
					<button id="btn-kapp-registrar-pago" name="btn-kapp-registrar-pago" type="button"
						class="btnVerPagos btn btn-primary p-0 m-0" style="width:1.8rem;height:1.8rem;"
						data-kapp-id="{{rmov['ID KAPP']}}" data-bs-toggle="modal" data-bs-target="#PagosModal">
						<img src="{{ url_for('static', filename='icons_svg/billing.svg') }}" alt="Registrar Pago"
							class="img inline p-0 m-0" style="width:1.7rem;height:1.3rem;"
							title="btn-kapp-registrar-pago">
					</button>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>



<!-- MODAL PARA CONFIRMACION DE MODIFICAR KAPP-->
<div class="modal fade" id="modal-crud-kapp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-primary" style="font-size:1.3rem" id="modal-crud-kapp-titulo">
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<p id="modal-crud-kapp-body" class="text-primary my-0" style="font-size:1.2rem"></p>
				<!-- <input id="modal-crud-kapp-id" name="modal-crud-kapp-id" type="hidden"> -->
				<input id="modal-crud-kapp-accion" name="modal-crud-kapp-accion" type="hidden">
				<input id="modal-crud-kapp-datos" name="modal-crud-kapp-datos" type="hidden" value="0">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button id="modal-crud-kapp-btn" class="btn btn-primary">Confirmar</button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL PARA REGISTRAR PAGO-->
<div class="modal fade" id="PagosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-primary" style="font-size:1.3rem" id="modal-kapp-pago-titulo">
					Registrar Pago</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="text-primary" style="font-size:0.85rem">Detalle de Pago</p>
				<div class="form-row my-0 py-0">
					<div class="form-group col-5 my-0 py-0">
						<label class="text-primary my-0 py-0" style="font-size:1rem"
							for="modal-kapp-pago-fecha"><b>Fecha
								Pago</b></label>
					</div>
					<div class="form-group col-4 my-0 py-0">
						<label class="text-primary my-0 py-0" style="font-size:1rem"
							for="modal-kapp-pago-periodo">Periodo a
							Pagar</label>
					</div>
					<div class="form-group col-3 my-0 py-0">
						<label class="text-primary my-0 py-0" style="font-size:1rem" for="modal-kapp-pago-monto">Monto
							Factura</label>
					</div>
				</div>

				<div class="form-row my-0 py-0">
					<div class="form-group col-5 my-0 py-0">
						<input class="form-control form-control-sm my-0 py-0" style="font-size:1rem" type="date"
							name="modal-kapp-pago-fecha" id="modal-kapp-pago-fecha" placeholder="Fecha de pago">
					</div>
					<div class="form-group col-4 my-0 py-0">
						<input class="form-control form-control-sm my-0 py-0" style="font-size:1rem" type="number"
							name="modal-kapp-pago-periodo" id="modal-kapp-pago-periodo" placeholder="Periodo">
					</div>
					<div class="form-group col-3 my-0 py-0">
						<input class="form-control form-control-sm my-0 py-0" style="font-size:1rem" type="number" min=0
							name="modal-kapp-pago-monto" id="modal-kapp-pago-monto" placeholder="Monto">
					</div>
				</div>
				<br>
				<div class="col-12" style="text-align: right;">
					<button id="modal-kapp-pago-btn-guardar" name="modal-kapp-pago-btn-guardar" type="button"
						class="btn btn-primary" data-kapp-id="">Registrar Pago</button>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container">
					<div class="row ">


						<table class="table table-bordered col-12" id="modal-kapp-pagos-tabla"
							name="modal-kapp-pagos-tabla">
							<thead class="bg-primary">
								<tr style="text-align: center;color: rgb(255, 255, 255);">
									<th scope="col" class="p-1 mx-1">
										<p style="font-size:1rem" class="p-0 m-0">Periodo Pagado
									</th>
									<th scope="col" class="p-1 mx-1">
										<p style="font-size:1rem" class="p-0 m-0">Fecha de Pago
									</th>
									<th scope="col" class="p-1 mx-1">
										<p style="font-size:1rem" class="p-0 m-0">Monto
									</th>
									<th scope="col" class="p-1 mx-1">
									</th>
								</tr>
							</thead>
							<tbody id="modal-kapp-pagos-tabla-body" name="modal-kapp-pagos-tabla-body">
							</tbody>
						</table>


						<div class="col-12" style="text-align: right;">

							<button id="modal-kapp-pago-cerrar" name="modal-kapp-pago-cerrar" type="button"
								class="btn btn-secondary" data-bs-dismiss="modal"
								style="display: inline-block;">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- MODAL PARA CONFIRMACION DE ELIMINACION DE PAGO-->
<div class="modal fade" id="modal-crud-pago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-primary" style="font-size:1.3rem">
					Eliminar Pago
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<p id="modal-crud-kapp-body" class="text-primary my-0" style="font-size:1.2rem">¿Está seguro
					que desea eliminar este pago?</p>
				<input id="modal-crud-pago-pago-id" name="modal-crud-pago-id" type="hidden">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button id="modal-crud-pago-confirmacion" class="btn btn-primary">Confirmar</button>
			</div>
		</div>
	</div>
</div>


<script type=text/javascript src="{{ url_for('static', filename='crud_kapp.js') }}"></script>
<script>
	// document.getElementById('toastPago').show()
</script>

{% endblock %}